# gitops-platform/services/base/service-template/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: {{SERVICE_NAME}}-service
  labels:
    app: {{SERVICE_NAME}}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: http
    protocol: TCP
    name: http
  - port: 8001
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    app: {{SERVICE_NAME}}