apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infrastructure-dev

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: postgresql
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
  - target:
      kind: StatefulSet
      name: kafka
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1

# Override values for dev environment
patchesStrategicMerge:
  - values-patch.yaml