# gitops-platform/infrastructure/overlays/prod/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infrastructure

resources:
  - ../../base

commonLabels:
  environment: prod
  managed-by: gitops
  criticality: high

configMapGenerator:
  - name: platform-endpoints
    behavior: merge
    literals:
      - ENVIRONMENT=prod
      - LOG_LEVEL=WARNING
      - BACKUP_ENABLED=true

helmCharts:
  - name: postgresql
    repo: https://charts.bitnami.com/bitnami
    version: 12.x.x
    releaseName: postgresql
    
    valuesFile: values.yaml

  - name: kafka
    repo: https://charts.bitnami.com/bitnami
    version: 22.x.x
    releaseName: kafka
    
    valuesFile: values.yaml

  - name: redis
    repo: https://charts.bitnami.com/bitnami
    version: 17.x.x
    releaseName: redis
    
    valuesFile: values.yaml

  - name: rabbitmq
    repo: https://charts.bitnami.com/bitnami
    version: 12.x.x
    releaseName: rabbitmq
    
    valuesFile: values.yaml

  - name: traefik
    repo: https://helm.traefik.io/traefik
    version: 25.x.x
    releaseName: traefik
    
    valuesFile: values.yaml