# gitops-platform/services/auth-service/overlays/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: auth-service

resources:
  - ../../base

commonLabels:
  environment: dev

configMapGenerator:
  - name: auth-config
    behavior: merge
    literals:
      - LOG_LEVEL=DEBUG
      - DJANGO_DEBUG=True
      - CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
      - CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:8000

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment