# gitops-platform/infrastructure/overlays/staging/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infrastructure

resources:
  - ../../base

labels:
  - pairs:
      environment: staging
      managed-by: gitops
    includeSelectors: false

patches:
  - target:
      kind: ConfigMap
      name: platform-endpoints
    patch: |
      - op: add
        path: /data/ENVIRONMENT
        value: staging
      - op: add
        path: /data/LOG_LEVEL
        value: INFO