# gitops-platform/infrastructure/overlays/staging/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infrastructure

resources:
  - ../../base

labels:
  - pairs:
      environment: staging
      managed-by: gitops
    includeSelectors: false

patches:
  - target:
      kind: ConfigMap
      name: platform-endpoints
    patch: |
      - op: add
        path: /data/ENVIRONMENT
        value: staging
      - op: add
        path: /data/LOG_LEVEL
        value: INFO

helmCharts:
  - name: postgresql
    repo: file:///tmp/charts/postgresql-12.1.2
    version: "12.1.2"
    releaseName: postgresql
    valuesFile: values-postgresql.yaml

  - name: kafka
    repo: file:///tmp/charts/kafka-22.1.4
    version: "22.1.4"
    releaseName: kafka
    valuesFile: values-kafka.yaml

  - name: redis
    repo: file:///tmp/charts/redis-17.11.3
    version: "17.11.3"
    releaseName: redis
    valuesFile: values-redis.yaml

  - name: rabbitmq
    repo: file:///tmp/charts/rabbitmq-12.5.2
    version: "12.5.2"
    releaseName: rabbitmq
    valuesFile: values-rabbitmq.yaml

  - name: traefik
    repo: file:///tmp/charts/traefik
    version: "25.0.0"
    releaseName: traefik
    valuesFile: values-traefik.yaml