# gitops-platform/services/payment-service/base/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: payment-service

resources:
  - ../../base/service-template
  - secrets/payment-secrets.yaml

configMapGenerator:
  - name: payment-config
    literals:
      - SERVICE_NAME=payment
      - DB_NAME=paymentdb
      - DJANGO_SETTINGS_MODULE=payment_service.settings
      - AUTH_SERVICE_URL=http://auth-service.auth-service.svc.cluster.local:8000/zedvye_one/
      - AUTH_PUBLIC_KEY_URL=http://auth-service.auth-service.svc.cluster.local:8000/zedvye_one/users/public_key/
      - LOG_LEVEL=INFO
      - RABBITMQ_QUEUE=microservice_one.events 
      - RABBITMQ_VHOST=microservice_one         
      - KAFKA_TOPIC=microservice_one.events     

images:
  - name: placeholder
    newName: alphaxad9/payment_service
    newTag: "0.0.1"