# gitops-platform/environments/dev/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - infrastructure-application.yaml
  - auth-application.yaml
  - payment-application.yaml

commonLabels:
  environment: dev
  managed-by: gitops
  app.kubernetes.io/managed-by: argocd
  app.kubernetes.io/part-of: microservices-platform

commonAnnotations:
  description: "Development environment for microservices"
  team: "platform-team"
  contact: "platform@example.com"

namespace: argocd

configMapGenerator:
  - name: environment-config
    literals:
      - ENVIRONMENT=dev
      - REPO_URL=https://github.com/alphaxad9/gitops-platform.git
      - TARGET_REVISION=HEAD

patches:
  # Parameterize namespace for all applications
  - target:
      kind: Application
    patch: |-
      - op: add
        path: /metadata/annotations
        value:
          argocd.argoproj.io/sync-options: Prune=true
          argocd.argoproj.io/managed-by: argocd
      - op: replace
        path: /spec/source/repoURL
        value: https://github.com/alphaxad9/gitops-platform.git
      - op: replace
        path: /spec/source/targetRevision
        value: HEAD